
<div class="color1">
    {{ data1 }} 
</div>

<div>
  {{ price1 }} <i class="fa fa-btc"></i>
  <br/>
  <span class="fontSmall color2" ng-show="price2<0.001">({{ price2 | setDecimal:6 }} $) </span>
  <span class="fontSmall color2" ng-show="price2>0.001">({{ price2 | setDecimal:2 }} $) </span>
</div>

<div class="color1">
    {{ data2 }}
</div>

<div>
    <span class="xfontSmall" ng-style="{ 'color': percent1 < 0 ? 'red' : 'green' }" ng-show="percent1!=null">{{ percent1 }} %</span>	
    <span class="xfontSmall" ng-show="percent2!=null">/</span>
    <span class="xfontSmall" ng-style="{ 'color': percent2 < 0 ? 'red' : 'green' }" ng-show="percent2!=null">{{ percent2 }} %</span>
    <span class="xfontSmall" ng-show="percent3!=null">/</span>
    <span class="xfontSmall" ng-style="{ 'color': percent3 < 0 ? 'red' : 'green' }" ng-show="percent3!=null">{{ percent3 }} %</span>
</div>

