<div class="row" >

        <div class="col-xs-5" ng-show="optionLabels">Price</div>
        <div ng-class="{col-xs-7: optionLabels, col-xs-12: !optionLabels}" >{{ currencie.price_btc | limitTo:12 }} <i class="fa fa-btc  fa"></i></div>

        
        <div class="col-xs-5" ng-show="optionLabels"></div>
        <div class="col-xs-7" ng-class="{col-xs-7: optionLabels, col-xs-12: !optionLabels}" ng-show="{{ currencie.price_usd<0.001 }}">{{ currencie.price_usd | setDecimal:6 }} <i class="fa fa-usd  fa"></i></div>
        <div class="col-xs-7" ng-class="{col-xs-7: optionLabels, col-xs-12: !optionLabels}" ng-show="{{ currencie.price_usd>0.001 }}">{{ currencie.price_usd | setDecimal:2 }} <i class="fa fa-usd  fa"></i></div>    

        <div class="col-xs-5" ng-show="optionLabels">My invesment</div>
        <div class="col-xs-7" ng-class="{col-xs-7: optionLabels, col-xs-12: !optionLabels}" >{{ currencie.valueBtc | setDecimal:5 }} <i class="fa fa-btc  fa"></i></div>

        <div class="col-xs-5" ng-show="optionLabels"></div>
        <div class="col-xs-7" ng-class="{col-xs-7: optionLabels, col-xs-12: !optionLabels}" >{{ currencie.valueDollars | setDecimal:2 }} <i class="fa fa-usd  fa"></i></div>

        <div ng-show="optionDetails==3">
                <div class="col-xs-5" ng-show="optionLabels">MCap</div>
                <div class="col-xs-7" ng-class="{col-xs-7: optionLabels, col-xs-12: !optionLabels}" >{{ currencie.market_cap_usd | number:3 }} <i class="fa fa-usd  fa"></i></div>
        </div>

        <div ng-show="optionDetails==3">
                 <div class="col-xs-5" ng-show="optionLabels">1h / 24h / 7d</div>
                <div ng-class="{col-xs-7: optionLabels, col-xs-12: !optionLabels}" >
                        <span class="xfontSmall" ng-style="{ 'color': currencie.percent_change_1h < 0 ? 'red' : 'green' }" ng-show="currencie.percent_change_1h!=null">{{ currencie.percent_change_1h }} %</span>	
                        <span class="xfontSmall" ng-show="currencie.percent_change_24h!=null">/</span>
                        <span class="xfontSmall" ng-style="{ 'color': currencie.percent_change_24h < 0 ? 'red' : 'green' }" ng-show="currencie.percent_change_24h!=null">{{ currencie.percent_change_24h }} %</span>
                        <span class="xfontSmall" ng-show="currencie.percent_change_7d!=null">/</span>
                        <span class="xfontSmall" ng-style="{ 'color': currencie.percent_change_7d < 0 ? 'red' : 'green' }" ng-show="currencie.percent_change_7d!=null">{{ currencie.percent_change_7d }} %</span>
                </div>
        </div>

        <div ng-show="optionDetails==3">
                <div class="col-xs-5" ng-show="optionLabels">Balance</div>
                <div class="col-xs-7" ng-class="{col-xs-7: optionLabels, col-xs-12: !optionLabels}" >{{ currencie.balance }} {{ currencie.symbol }} </div>
        </div>


</div>

