
        <div class="col-xs-6 noPadding">
                <div class="col-xs-12 color1 columnLeft noPadding xfontSmall">{{ currencie.price_btc | limitTo:12 }} <i class="fa fa-btc  fa"></i></div>
                <div class="col-xs-12 color2 columnLeft noPadding"  ng-show="{{ currencie.price_usd<0.001 }}">({{ currencie.price_usd | setDecimal:6 }} <i class="fa fa-usd  fa"></i>)</div>
                <div class="col-xs-12 color2 columnLeft noPadding" ng-show="{{ currencie.price_usd>0.001 }}">({{ currencie.price_usd | setDecimal:2 }} <i class="fa fa-usd  fa"></i>)</div>    
        </div>
        <div class="col-xs-6 noPadding">
                <div class="col-xs-12 color1 columnLeft noPadding xfontSmall">{{ currencie.valueBtc | setDecimal:5 }} <i class="fa fa-btc  fa"></i></div>
                <div class="col-xs-12 color2 columnLeft noPadding">({{ currencie.valueDollars | setDecimal:2 }} <i class="fa fa-usd  fa"></i>)</div>
        </div>
