<div ng-controller="AddCurrenciesCtrl">
	<form>
		<div class="form-group">
		  <div class="input-group">
			<div class="input-group-addon"><i class="fa fa-search"></i></div>
			<input type="text" class="form-control" placeholder="Search currencies" ng-model="searchCurrencie">
		  </div>      
		</div>
	</form>

  <table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <td class="columnCenter" style="width:100px;">
			<a ng-click="showFavorite()" class="btn btn-default">
				<span ng-show="showOnlyFavorite" class="fa fa-star fa-0"></span>
				<span ng-show="!showOnlyFavorite" class="fa fa-star-o fa-0"></span>
			</a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'market_cap_usd'; sortReverse = !sortReverse">
         <b>MarketCap</b>
            <span ng-show="sortType == 'market_cap_usd' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'market_cap_usd' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="currencie in currencies | orderBy:sortType:sortReverse | filter:searchCurrencie" ng-show="showOnlyFavorite?currencie.favorite:true">
		<td style="width:80px;">
				<ul class="columnCenter nav nav-pills">
					<li>
						<a ng-click="changeFavorite(currencie)" class="btn btn-default navbar-btn" ng-class="{favorite: currencie.favorite === true}">
							<img ng-src="{{ currencie.png }}"  title="{{ currencie.name }}"> 
							<span class="smallFont">
								{{ currencie.symbol }}<br/>
								{{ currencie.rank}}
							</span>	
						</a>
					</li>
				</ul>
		
		</td>
		<td style="vertical-align: middle;">
			{{ currencie.market_cap_usd | number:3}} $<br/>
			{{ currencie.name }}
		</td>
      </tr>
    </tbody>
    
  </table>
</div>