	
			<div class="blocCurrencie blocLook gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6">
				
					<div class="row">
						<div class="col-xs-12 columnCenter">
							<img id="title" ng-src="./img/title1.png">
						</div>
					</div>

					<div class="col-xs-12"><hr/></div>

					<div class="row">
					
						<div class="col-xs-12 xsCenter">
						
							  <ui-select ng-model="currentCrypto.selected" theme="select2" ng-disabled="disabled" style="min-width: 250px;">
								<ui-select-match placeholder="Select a currencie to add..."><img ng-src="{{ $select.selected.png16 }}" /> {{$select.selected.symbol + ' (' + $select.selected.name + ')' }}</ui-select-match>
								<ui-select-choices 	repeat="currencie in currencies | propsFilter: {name: $select.search, symbol: $select.search} | limitTo:infiniteScroll.currentItems"
													infinite-scroll="addMoreItems()"
													infinite-scroll-distance="2">
								  <img ng-src="{{ currencie.png16 }}" />
								  <div ng-bind-html="currencie.symbol + ' (' + currencie.name + ')' | highlight: $select.search" style="display: inline"></div>
								</ui-select-choices>
							  </ui-select>
						
								<button 
									type="button" 
									ng-click="addcurrencie(currentCrypto.selected)"
									class="btn btn-default navbar-btn btnActionCurrencie">
									<i class="fa fa-plus-square-o fa"></i>
								</button>
						
						</div>	
						
					</div>
					
					<div class="col-xs-12"><hr/></div>

					<div class="row fontSmall" ng-show="optionLabels">
						<div class="col-xs-2 columnCenter">
							Labels
						</div>
						<div class="col-xs-6 columnCenter">
							Display détail
						</div>	
						<div class="col-xs-4 columnCenter">
							Save / Load
						</div>			
					</div>
					<div class="row">
						<div class="col-xs-2 columnCenter">
							<button class="btn btn-default navbar-btn btnActionCurrencie" ng-class="optionLabels?'backColor1':'backColor2'" ng-click="changeOptionLabels()" type="button"><i class="fa fa-file-text-o  fa"></i></button>
						</div>
						<div class="col-xs-6 columnCenter">
							<button class="btn btn-default navbar-btn btnActionCurrencie" ng-class="optionDetails==1?'backColor1':'backColor2'" ng-click="changeOptionDetails(1)" type="button"><i class="fa fa-square-o  fa"></i></button>
							<button class="btn btn-default navbar-btn btnActionCurrencie" ng-class="optionDetails==2?'backColor1':'backColor2'" ng-click="changeOptionDetails(2)" type="button"><i class="fa fa-columns  fa"></i></button>
							<button class="btn btn-default navbar-btn btnActionCurrencie" ng-class="optionDetails==3?'backColor1':'backColor2'" ng-click="changeOptionDetails(3)" type="button"><i class="fa fa-table  fa"></i></button>
						</div>
						<div class="col-xs-4 columnCenter">
							<!--
								<button 
									type="button" 
									data-toggle="modal" 
									data-target="#modalJson" 
									ng-click="showCurrenciesFavorites()"
									class="btn btn-default navbar-btn btnActionCurrencie">
									<i class="fa fa-eye  fa"></i>
								</button> -->
								
								<a href = "{{downloadCurrenciesFavorites()}}" id = "saveCurrenciesFavorites" download="currencies.json" class="btn btn-default navbar-btn btnActionCurrencie"><i class="fa fa-save fa"></i></a>
								
								<label for="file-upload" class="btn btn-default navbar-btn btnActionCurrencie">
									<i class="fa fa-cloud-upload"></i>
								</label>
								<input id="file-upload" type="file" name="file" onchange="angular.element(this).scope().LoadFileData(this.files)" accept=".json" />
						</div>
					</div>

					<div class="col-xs-12"><hr/></div>

					<div class="row fontSmall" ng-show="optionLabels">
						<div class="col-xs-8 columnCenter">
							
						</div>
						<div class="col-xs-4 columnCenter">
							Help Chat
						</div>	
					</div>

					<div class="row">			
						<div class="col-xs-8 columnCenter">
								
						</div>				
						<div class="col-xs-4 columnCenter">
							<a 
								href="#goto#fieldsetHelp"
								class="btn btn-default navbar-btn btnActionCurrencie">
									<i class="fa fa-question"></i>
							</a>
					
							<a 
								HREF="https://t.me/joinchat/G97heRBNiI_GIPMLh8RvFg" 
								target="_blank"
								class="btn btn-default navbar-btn btnActionCurrencie">
									<i class="fa fa-telegram"></i>
							</a>
						</div>						
					</div>

					<div class="col-xs-12"><hr/></div>

					<div class="row">
						<div class="col-xs-12">
								<i class="fa fa-btc fa"></i>
								<span class="labelInfo">Donate</span> <span id="copyTarget" class="labelInfo">1LGS4YWatsdHrvLFAheqPds1DTM7kysrie</span>
								<button id="copyButton" class="btn btn-default navbar-btn btnActionCurrencie"><i class="fa fa-copy fa"></i></button> 
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
								<i class="fa fa-copyright fa"></i>
								<span class="labelInfo">www.crypto-dashboard.com - Version 0.2 - 2018 - Dobidoba</span>
								
						</div>
					</div>
	
			</div>
	
			<script>
					document.getElementById("copyButton").addEventListener("click", function() {
						copyToClipboard(document.getElementById("copyTarget"));
					});
		
					function copyToClipboard(elem) {
						  // create hidden text element, if it doesn't already exist
						var targetId = "_hiddenCopyText_";
						var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
						var origSelectionStart, origSelectionEnd;
						if (isInput) {
							// can just use the original source element for the selection and copy
							target = elem;
							origSelectionStart = elem.selectionStart;
							origSelectionEnd = elem.selectionEnd;
						} else {
							// must use a temporary form element for the selection and copy
							target = document.getElementById(targetId);
							if (!target) {
								var target = document.createElement("textarea");
								target.style.position = "absolute";
								target.style.left = "-9999px";
								target.style.top = "0";
								target.id = targetId;
								document.body.appendChild(target);
							}
							target.textContent = elem.textContent;
						}
						// select the content
						var currentFocus = document.activeElement;
						target.focus();
						target.setSelectionRange(0, target.value.length);
						
						// copy the selection
						var succeed;
						try {
							  succeed = document.execCommand("copy");
						} catch(e) {
							succeed = false;
						}
						// restore original focus
						if (currentFocus && typeof currentFocus.focus === "function") {
							currentFocus.focus();
						}
						
						if (isInput) {
							// restore prior selection
							elem.setSelectionRange(origSelectionStart, origSelectionEnd);
						} else {
							// clear temporary content
							target.textContent = "";
						}
						return succeed;
					}
			</script>