<div id="mainBoard"  ng-controller="ListCurrenciesCtrl">
	
	<script type="text/javascript">
		$(function(){
			$('legend').click(function(){
				$(this).parent().find('.fieldsetToggler').slideToggle("400");
			});
		});
	</script>

	<div class="divCenter row">
	
		<div ng-include="'./pages/headerMain.html'"></div>
		<div ng-include="'./pages/headerInvest.html'"></div>
		<div ng-include="'./pages/headerQuickView.html'"></div>

		<!--
		<fieldset class="col col-xs-12">
			<legend ng-click="isHidden = !isHidden;"> <span class="glyphicon" ng-class="isHidden ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span> Pinned view </legend>
			<div class="fieldsetToggler" ng-include="'./pages/pinned.html'"></div>
		</fieldset>
		-->
		
		<fieldset class="col col-xs-12">
			<legend> 
				<button type="button" 
					ng-click="fieldset1=!fieldset1"
					class="">
					<i class="fa fa-toggle-right" ng-show="fieldset1"></i><i class="fa fa-toggle-down" ng-show="!fieldset1"></i>
				</button>
				Charts view 
			</legend>
			<div data-slide-toggle="fieldset1" ng-include="'./pages/fieldsetCharts.html'"></div>
		</fieldset>

		<fieldset class="col col-xs-12">
			<legend> 
				<button type="button" 
					ng-click="fieldset2=!fieldset2"
					class="">
					<i class="fa fa-toggle-right" ng-show="fieldset2"></i><i class="fa fa-toggle-down" ng-show="!fieldset2"></i>
				</button>
				Cards view 
			</legend>
			<div data-slide-toggle="fieldset2" ng-include="'./pages/fieldsetListCurrencies.html'"></div>
		</fieldset>

		<fieldset id="fieldsetHelp" class="col col-xs-12">
			<legend> 
				<button type="button" 
					ng-click="fieldset3=!fieldset3"
					class="">
					<i class="fa fa-toggle-right" ng-show="fieldset3"></i><i class="fa fa-toggle-down" ng-show="!fieldset3"></i>
				</button>
				Help 
			</legend>
			<div data-slide-toggle="fieldset3" ng-include="'./pages/fieldsetHelp.html'"></div>
		</fieldset>

		<fieldset class="col col-xs-12">
			<legend> 
				<button type="button" 
					ng-click="fieldset4=!fieldset4"
					class="">
					<i class="fa fa-toggle-right" ng-show="fieldset4"></i><i class="fa fa-toggle-down" ng-show="!fieldset4"></i>
				</button>
				Infos 
			</legend>
			<div data-slide-toggle="fieldset4" ng-include="'./pages/fieldsetInfos.html'"></div>
		</fieldset>

	</div>
</div>	